.transactions {
    min-height: 300px; /*REMOVE LATER*/
    overflow-y: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .75em;
}

.btnContainer {
    position: relative;
    top: 0;
    bottom: 100;
    left: 20;
}

.btnContainer button {
    position: absolute;
    top: 0;
}
